.logocard {
  margin-top: 1rem;
  margin-left: -4rem;
  width: 20rem;
  height: 10rem;
  background: transparent;
  border-radius: 5px;
  background-image: url(/src/components/Header/Logohead/Logo1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid transparent;
}

.logocard:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}
