@font-face {
  font-family: "Brush King";
  src: local("Brush King"),
    url(/src/Fonts/Brush-King/Brush\ King.otf) format("otf");
}

.logosubtext {
  color: #f5f5f7;

  grid-column: 4/ 8;
  grid-row: 1 / 9;
  font-family: "Brush King";
  font-size: 0.8rem;
  letter-spacing: 0.18rem;
  padding-top: 3.5rem;
  padding-left: 3.5rem;
}
