.maincontainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background-color: #141414;
  height: 200vh;
  border: 10px solid pink;
  border-image: repeating-linear-gradient(
      -55deg,
      #000,
      #000 20px,
      #ffb101 20px,
      #ffb101 40px
    )
    10;
  border-top: none;
}

.headimgviewer {
  grid-column: 7 / 13;
  grid-row: 1 / 4;
  width: 40vw;
  padding: 2rem;
  margin: auto;
  margin-top: 2.5rem;
}
