.mainaboutpic {
  grid-column: 1 / 7;
  grid-row: 1 / 5;
  padding-top: 4.5rem;
  padding-left: 4rem;
}

.riyathe {
  width: 20vw;
  border: 10px solid pink;
  border-image: repeating-linear-gradient(
      -55deg,
      #000,
      #000 20px,
      #ffb101 20px,
      #ffb101 40px
    )
    10;
}
