.headercontainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background: #141414 linear-gradient(147deg, #141414, #202020 30%, #707070)
    no-repeat;
  height: 80vh;
}
