.headercontainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background: #202020 linear-gradient(147deg, #202020, #3f3f3f 30%, #707070)
    no-repeat;
  height: 80vh;
}
