.bg {
  position: absolute;
  top: 10rem;
  left: 50rem;
  width: 40vw;
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  will-change: opacity;

  border: 10px solid pink;
  border-image: repeating-linear-gradient(
      -55deg,
      #000,
      #000 20px,
      #ffb101 20px,
      #ffb101 40px
    )
    10;
}
