.bg {
  margin-left: 2.3rem;
  z-index: 1;
  position: absolute;
  width: 40vw;
  height: 70vh;

  border: 10px solid pink;
  border-image: repeating-linear-gradient(
      -55deg,
      #000,
      #000 20px,
      #ffb101 20px,
      #ffb101 40px
    )
    10;
}
